page-about {
  .cards-bg{
    background-image: linear-gradient(black 50%, white);
  }
  ion-card-title{
    color: gray!important;
  }
  ion-card-content{
    background-image: linear-gradient(black 50%, white);
  }
  ion-item{
    color: whitesmoke!important;
    background-image: linear-gradient(black 90%, white);
  }
  strong{
    color: purple!important;
  }
}
