<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="bg">
    <div class="head" text-center>
      <h1>Welcome to Upakara</h1>
      <h5>Register Page</h5>
    </div>
    <div class="inputs" *ngIf="isFirstForm">
      <ion-item>
        <ion-input type="text" placeholder=Username #username></ion-input>
      </ion-item>
      <p ion-text color="danger" style="font-size: 8px; font-weight: bold; padding: 0; margin: 0;">{{valUsername}}</p>
      <ion-item>
        <ion-input type="text" placeholder="Email" #email></ion-input>
      </ion-item>
      <p ion-text color="danger" style="font-size: 8px; font-weight: bold; padding: 0; margin: 0;">{{valEmail}}</p>
      <ion-item>
        <ion-input type="password" placeholder="Password" #password></ion-input>
      </ion-item>
      <p ion-text color="danger" style="font-size: 8px; font-weight: bold; padding: 0; margin: 0;">{{valPassword}}</p>
      <ion-item>
        <ion-input type="password" placeholder="Confirm Password" #confirmPassword></ion-input>
      </ion-item>
      <p ion-text color="danger" style="font-size: 8px; font-weight: bold; padding: 0; margin: 0;">{{valConfirmPassword}}</p>
      <button ion-button block (click)="confirmFirstForm()" color="dark"><b>Next</b></button>
      <button ion-button block (click)="login()"  color="dark"><b>Login</b></button>
    </div>
    <div class="inputs" *ngIf="isSecondForm">
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="gender" style="color: white;" (ionchange)="filterGender(gender)">
          <ion-option value="Male">Male</ion-option>
          <ion-option value="Female">Female</ion-option>
        </ion-select>
      </ion-item>
      <p ion-text color="danger" style="font-size: 8px; font-weight: bold; padding: 0; margin: 0;">{{valGender}}</p>
      <ion-item>
        <ion-input type="text" placeholder="NIC" #nic></ion-input>
      </ion-item>
      <p ion-text color="danger" style="font-size: 8px; font-weight: bold; padding: 0; margin: 0;">{{valNIC}}</p>
      <ion-item>
        <ion-label>Blood Group</ion-label>
        <ion-select [(ngModel)]="blood_group" (ionchange)="filterBloodGroup(blood_group)">
          <ion-option value="A+">A+</ion-option>
          <ion-option value="A-">A-</ion-option>
          <ion-option value="B+">B+</ion-option>
          <ion-option value="B-">B-</ion-option>
          <ion-option value="O+">O+</ion-option>
          <ion-option value="O-">O-</ion-option>
          <ion-option value="AB+">AB+</ion-option>
          <ion-option value="AB-">AB-</ion-option>
        </ion-select>
      </ion-item>
      <p ion-text color="danger" style="font-size: 8px; font-weight: bold; padding: 0; margin: 0;">{{valBloodGroup}}</p>
      <button ion-button block (click)="confirmSecondForm()" color="dark"><b>Next</b></button>
      <button ion-button block (click)="backtoFirstForm()" color="dark"><b>Back</b></button>
    </div>
    <div class="inputs" *ngIf="isThirdForm">
      <ion-item>
        <ion-input type="text" placeholder="Contact Number" #contact_number></ion-input>
      </ion-item>
      <p ion-text color="danger" style="font-size: 8px; font-weight: bold; padding: 0; margin: 0;">{{valContact}}</p>
      <ion-item>
        <ion-input type="text" placeholder="Address" #address></ion-input>
      </ion-item>
      <p ion-text color="danger" style="font-size: 8px; font-weight: bold; padding: 0; margin: 0;">{{valAddress}}</p>
      <ion-item>
        <ion-label>Distrcit</ion-label>
        <ion-select [(ngModel)]="district" (ionchange)="filterDistrict(district)">
          <ion-option value="Ampara">Ampara</ion-option>
          <ion-option value="Anuradhapura">Anuradhapura</ion-option>
          <ion-option value="Badulla">Badulla</ion-option>
          <ion-option value="Batticaloa">Batticaloa</ion-option>
          <ion-option value="Colombo">Colombo</ion-option>
          <ion-option value="Galle">Galle</ion-option>
          <ion-option value="Gampaha">Gampaha</ion-option>
          <ion-option value="Hambanthota">Hambanthota</ion-option>
          <ion-option value="Jaffna">Jaffna</ion-option>
          <ion-option value="Kaluthara">Kaluthara</ion-option>
          <ion-option value="Kandy">Kandy</ion-option>
          <ion-option value="Kegalle">Kegalle</ion-option>
          <ion-option value="Kilinochchi">Kilinochchi</ion-option>
          <ion-option value="Kurunagala">Kurunagala</ion-option>
          <ion-option value="Mannar">Mannar</ion-option>
          <ion-option value="Mathale">Mathale</ion-option>
          <ion-option value="Mathara">Mathara</ion-option>
          <ion-option value="Monaragala">Monaragala</ion-option>
          <ion-option value="Mullathivu">Mullathivu</ion-option>
          <ion-option value="Nuwara_eliya">Nuwara eliya</ion-option>
          <ion-option value="Polonnaruwa">Polonnaruwa</ion-option>
          <ion-option value="Puttalam">Puttalam</ion-option>
          <ion-option value="Rathnapura">Rathnapura</ion-option>
          <ion-option value="Trincomalle">Trincomalle</ion-option>
          <ion-option value="Vavniya">Vavniya</ion-option>
        </ion-select>
      </ion-item>
      <p ion-text color="danger" style="font-size: 8px; font-weight: bold; padding: 0; margin: 0;">{{valDistrict}}</p>
      <button ion-button block (click)="register()" color="dark"><b>Register</b></button>
      <button ion-button block (click)="backtoSecondForm()" color="dark"><b>Back</b></button>
      <div class="fb" text-center *ngIf="isFirstForm">
        <ion-icon name="logo-facebook" text-center>Signup with your FACEBOOK account</ion-icon>
      </div>
    </div>
  </div>
</ion-content>
