page-contact {
  ion-content{
      background-image: url("../../assets/imgs/color.gif");
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
  }
  ion-img{
    border-radius: 50%;
  }
  p{
    color: white!important;
  }
  ion-icon{
    font-size: 35px;
    color: gray!important;
  }
  h1{
    color: whitesmoke!important;
  }
}
